# Netbeans specific folders
/nbproject/private/
build/
nbdist/
dist/

# Compiled classes
*.class

# Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
# *.rar

# Track library JARs
!lib/*.jar

# Crash logs and system files
hs_err_pid*
replay_pid*

# OS-specific files
.DS_Store
Thumbs.db

# Other
.opencode/
.specstory/
#/plan
#/CONTEXT